.loading {
    position: relative;
    height: 100vh;
    background-color: #f5f5f5;
}

.loading__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #0077c2;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

.loading__text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    font-weight: bold;
  color: #555;
}

 @keyframes spin {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}